body {
  margin: 0;
  padding: 0;
  background-color: #dbf6e7;
}

.window,
.box {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.overlay {
  height: calc(100% + 40px);
  margin: -20px;
  position: relative;
  width: calc(100% + 40px);
  filter: blur(10px);
}

.window {
  box-shadow: 0 0 100px  rgba(0,0,0,0.25);
  height: 560px;
  margin: 2em auto 0;
  width: 320px;
}

.header {
  background: royalblue;
  height: 380px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: inherit;
}

.header:before {
  border: 2px solid rgba(161, 220, 255, 0.34);
  border-radius: 100%;
  content: "";
  height: 140px;
  left: 0;
  margin: 67px auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
  z-index: 2;
  transform: scale(1.24, 1.24);
}

.header img {
  border: 5px solid #A1DCFF;
  border-radius: 100%;
  height: 140px;
  margin: 4em auto 2.5em;
  object-fit: cover;
  width: 140px;
}

.header h2 {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 0 auto;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.footer {
  background-color: black;
  bottom: 0;
  color: #FFF;
  left: 0;
  position: absolute;
  text-align: center;
  top: 380px;
  width: inherit;
}