html { 
	font-size: 22px; 
}
body { 
	padding: 1rem; 
	 background-color: #dbf6e7;
}
h1 {
	text-align: center;
}

/*single grid*/
.user-profile-info {
  border: 1px solid;
  text-align: center;
  background-color: white;
}
.user-name {
	color: indigo;
	text-decoration: none;
	border-bottom: solid 1px #000;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*grid*/
#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}